<header>

</header>
<section>
  <div *ngIf="thread">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
          <strong>@{{thread._author.username}}</strong> <small>{{thread._author.email}}</small>
          <br>
          <small>{{thread.date | date: 'short'}}</small>
          <p>{{thread.title}}</p>
          <p>
            {{thread.content}}
          </p>
      </div>
      <nav class="level is-mobile" *ngIf="Session.user">
        <div class="level-left">
          <a class="level-item" (click)="replyForm()">
            <span class="icon is-small"><i class="fa fa-reply"></i></span>
          </a>
        </div>
      </nav>
      <div class="reply-form" *ngIf="show">
        <div class="field">
          <label class="label">Comment</label>
          <div class="control">
            <input class="input" type="text" [(ngModel)]="contentReply" name="contentReply">
          </div>
          <div class="control">
            <button class="button is-primary" (click)="addReply()">Submit</button>
          </div>
        </div>
      </div>
      <div class="replies" *ngIf="thread.replies.length !== 0">
        <div class="box" *ngFor="let reply of thread.replies">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                  <strong>@{{reply._author.username}}</strong> <small>{{reply._author.email}}</small>
                  <br>
                  <small>{{reply.date | date: 'short'}}</small>
                  <p>{{reply.content}}</p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </article>
</div>
</section>
