<header>
</header>
<section>
  <div class="title">
    New Thread
  </div>
  <form (ngSubmit)="addNew(myForm)" #myForm="ngForm">
    <div class="field">
      <label class="label">Thread Title</label>
      <div class="control">
        <input class="input" type="text" placeholder="Winter is coming" [(ngModel)]="title" name="title">
      </div>
    </div>

    <div class="field">
      <label class="label">Content</label>
      <div class="control">
        <textarea class="textarea" placeholder="You know nothing John Snow" [(ngModel)]="content" name="content"></textarea>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-primary" type="submit">Submit</button>
      </div>
      <div class="control">
        <button class="button is-link" [routerLink]="['']">Cancel</button>
      </div>
    </div>
  </form>
</section>
